.auth-form {
  padding: 16px;
}

.auth-form .title {
  color: #29313a;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.auth-form .close-box {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 10px #e1e6f1;
  cursor: pointer;
}

.auth-form .auth-form-item {
  display: flex;
  align-items: center;
}

.auth-form .auth-form-item .input-item {
  background: #fbfbfb;
  border: 1px solid #f1f3f5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}
.auth-form .forgot-password {
  color: #009c93;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.auth-form .auth-form-btn {
  text-align: center;
}
.auth-form .auth-form-btn .btn-submit {
  border-color: #009c93;
  background: #009c93;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  padding: 7px 40px;
  &:hover {
    transform: translateY(-4px);
  }
}
.auth-form .divider {
  padding: 10px 50px;
  color: #898989;
  font-size: 18px;
  font-weight: 400;
}

.auth-form .auth-form-btn .btn-submit2 {
  background-color: #fff;
  border-color: #fff;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(77, 82, 90, 0.25);
  border-radius: 10px;
  margin-top: unset;
  margin-bottom: 20px;
  padding: 7px 20px;
  min-width: 273px;
  &:hover {
    transform: translateY(-4px);
  }
}
.auth-form .auth-form-nav {
  text-align: center;
}
.auth-form .auth-error-msg {
  color: red;
  font-size: 16px;
  border-top: 1px solid red;
}
