.subject_page {
  padding: 20px 0;
  .title_topic {
    text-align: center;
    margin-bottom: 24px;
    color: #0a342f;
  }
}
.subject_page_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  button {
    padding: 10px 20px;
    margin: 0 10px;
    min-width: 200px;
    border-radius: 20px;
  }
}
.levels_practice {
  display: flex;
  align-items: center;
  justify-content: end;
  .levels_practice_box {
    display: flex;
    justify-content: end;
    .level_practice_box_item {
      display: flex;
      align-items: center;
      padding-bottom: 4px;
      margin-left: 10px;
      @media (min-width: 576px) {
        position: relative;
        padding-right: 10px;
        :after {
          content: "";
          height: 60%;
          width: 1px;
          position: absolute;
          right: 0;
          transform: translateY(100%);
          top: -50%;
          background-color: #b4b5b7;
        }
      }
      .level_practice_icon {
        min-width: 40px;
        text-align: center;
      }
      .level_practive_title {
        font-size: 12px;
      }
    }
  }
}

.tree_container {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}
.tree_item_panel {
  display: flex;
  .tree_item_panel_left {
    width: 30px;
    display: flex;
    align-items: center;
    position: relative;
    span {
      padding-top: 3px;
      background-color: var(--primaryColor);
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: 700;
      font-size: 14px;
      z-index: 3;
    }
    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: var(--primaryColor);
      left: 50%;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      bottom: 0;
      right: 0;
      z-index: 1;
      border-bottom: 1px solid #d0d6e1;
    }
  }
}

.tree_item {
  display: flex;
  justify-content: space-between;
  box-shadow: unset;
  flex: 1 1 0%;
  color: var(--core-text-color);
  font-weight: 600;
  font-size: 14px;
  padding: 10px 35px;
}
